<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Register</h1>

        <div id="registerForm">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="personalColor">Personal Color</label>
                <input type="color" id="personalColor" name="personalColor" required>
            </div>
            <button type="submit" class="button primary">Register</button>
        </div>

        <p>Already have an account? <a href="/auth/login">Login</a></p>
    </div>
</body>
<script>
    const submit = document.querySelector('button');
    const username = document.querySelector("#username");
    const password = document.querySelector("#password");
    const personalColor = document.querySelector("#personalColor");

    submit.addEventListener("click", () => {
        fetch("/auth/register", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ username: username.value, password: password.value, personalColor: personalColor.value })
        })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                if (data.status == 200) location.href = "/auth/login";
            })
    })
</script>

</html>